.book-item {
  display: flex;
  gap: 10px;
  max-width: 100%;
}

.book-item-main {
  width: 100%;
  max-height: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  text-align: initial;
  background-color: rgb(252, 247, 242);
  box-shadow: rgba(88, 77, 64, 0.3) 0px 2px 4px 0px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
}

.book-item-main:hover,
.book-item-main.active {
  background-color: rgb(243, 236, 229);
  box-shadow: none;
}

.book-index {
  flex: 1;
  font-size: 1em;
  font-weight: 600;
  color: rgb(44, 101, 84);
}

.book-title {
  flex: 6;
  font-size: 1em;
  font-weight: 500;
}

.book-author {
  flex: 3;
  font-size: 1em;
  font-weight: 500;
}
