.generic-list {
  padding: 60px;
}

.generic-list-header {
  display: grid;
  margin-bottom: 20px;
  border-bottom: 2px solid #2c6554;
}

.generic-list-header-item {
  font-weight: 600;
}

.generic-list-body {
  display: flex;
  gap: 10px;
}

.generic-list-body-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 10px;
}

.generic-list-empty {
  width: 100%;
}
.generic-list-empty h3 {
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .generic-list {
    padding: 60px 15px;
  }
  .generic-list-body {
    flex-direction: column;
  }
}
